


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  

/* --- end testing for cloud background*/

*, *:before, *:after {
    box-sizing: inherit;
}

/* The CSS box-sizing property allows us to include the
padding and border in an element's total width and height. */

html {
    box-sizing: border-box;
    
}


body {
    margin: 0;
}


.navbar {
    background:white;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 84px;
    border: 7px solid black;
    z-index: 1;
}

.header {
    position: fixed;
    width: 100%;
    display: flex;
}

.main-page {
    margin-top: 84px;
}

.lady-gaga-logo {
    width: 60px;
    height: auto;
    margin: 5px 30px;
    
}


.nav-link {
    font-family: bauer-bodoni;
    color: black;
}

.navbar-logo {
    display: inline-block;
    width: 50%;
}

.navbar-nav {
    display: inline-block;
    width: 47%;
    margin-right: 3%;
}

.nav-item{
    list-style-type: none;
    float: left;
    text-decoration-line: none;
    font-size: 2.5vw;
}

.navbar-list{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0;
    top: 0;
    height: 70px;

}

a {
    text-decoration-line: none;
    
 }

a:visited { text-decoration-line: none;}
a:hover { text-decoration-line: none; color: black; }
a:focus { text-decoration-line: none; color: white;
    text-shadow: 0px 0px 4px #000000; }
a:hover, a:active { text-decoration-line: none; color: white;
    text-shadow: 0px 0px 10px rgb(211, 30, 120); }

    .current-link {
        text-shadow: 0px 0px 10px black !important;
        color: white !important;
    }

/* -- kw-end of navbar- */ 

.footer-list{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0;
    top: 0;
    height: 70px;
    width: 70%;
    text-align: center;
    padding-left: 0;

}

.footer {
    background:white;
    bottom: 0;
    width: 100%;
    height: 84px;
    border: 7px solid black;
    display: flex;
    justify-content: center;
    align-content: center;
}

.social-icon {
    height: 40px;
    width: auto;
}

.footer-item{
    list-style-type: none;
    float: left;
    text-decoration-line: none;
    height: 40px;
    width: auto;
    z-index: 5;
}

/*-- end footer --*/



.div-lady-gaga-side {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100vh;
    overflow: visible;

}

.lady-gaga-side {
    height: 608px;
    width: auto;
    position: absolute;
    bottom: 0px;
}

.base-cloud {
    width: 1000px;
    height: auto;
    position: absolute;
    bottom: -270px;
}

.lady-gaga-header {
    width: 500px;
    height: auto;
    position: absolute;
    bottom: -90px;
}

/*--- career page ---*/
body {
    font-family: 'Yantramanav', sans-serif;
}
.images {
    display:flex;
    justify-content: space-around;
    margin: 15px;
}
.images img {
    /*border: 7px solid #f5b300; */
    border: 7px solid black;
}
.Mother {
    display: flex;
    justify-content: center;
}
.flex-container  {
    display:flex;  
    flex-direction: row;
    justify-content:space-between;  
} 
.boxes{
    display:flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
} 
.boxes div {
    width: 90%;
}

.first {
    width: 97%;
    border: 7px solid black; 
    background-color:white;
    padding: 7px;
}
.second  {
    vertical-align: top;
    border: 7px solid black;
    background-color:white;
    padding: 25px;
    margin: 0 15px;
}
#section {
    column-count: 3; 
    margin-top: 50px;
}
.act {
    margin-bottom: 50px;
}
.third {
    border: 7px solid black;
    background-color:white;
    padding: 10px; 
    margin: 15px; 
    margin-bottom: 7%;
}
.lived{
    border-bottom-style: none;
    margin-top: 50px;
}
.awards {
    margin-bottom: 50px;
    margin-top: 50px;
}
.gold {
    display: flex;
    justify-content: center;
}
.gold-divider {
    width: 50%;
    margin-top: 40px;
}
.cracks {
    height: 200px;
    overflow: hidden;
}
.gold-cracks {
    width: 100%;
    height: auto;
}


/*--- alias style ---*/


/*  ----- Divider Styling ---- */

.divider-grandma {
    display: flex;
    justify-content: space-around;
    border-top: 7px solid black;
    flex-wrap: wrap;
    margin: 400 0;
}

.divider-mom {
    height: 600px;
    width: 34%;
    display: flex;
    justify-content: center;
    
    margin: 100px;
}

.divider-kid {
height: 100%;
width: 100%;
display: flex;
justify-content: center;
position: relative;

}

/*  ----- End Divider Styling ---- */

.globe-grandma {

}

.globe-mom {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 800px;
    display: block;
    margin: 500px auto 1100px auto;
    border-top: 7px solid black;
}

.globe-kid {
    height: 600px;
    display: flex;
    justify-content: center;
    position: relative;
}

.gaga-red {
    height: 400px;
    position: absolute;
    bottom: -50px;
}

.globe {
    height: 1100px;
    position: absolute;
    bottom: -1050px;
}

.globe-section {
    text-align: center;
    font-family: bauer-bodoni;
    font-size: 30px;
    position: relative;
    margin-top: 40px;
}


/*--- add font---*/

@font-face {
    font-family: bauer-bodoni;
    src: url(fonts/bauer-bodoni.otf);
}


/* ---- celeb classes---*/

.bradley {
    height: 370px;
    width: auto;
    position: absolute;
    bottom: 10px;
}

.bradley-cloud {
    height: 370px;
    width: auto;
    position: absolute;
    bottom: -180px;
}

.kendrick {
    height: 380px;
    width: auto;
    position: absolute;
    bottom: 0px;
}

.kendrick-cloud {
    height: 380px;
    width: auto;
    position: absolute;
    bottom: -180px;
}

.beyonce {
    height: 560px;
    width: auto;
    position: absolute;
    bottom: -120px;
}

.beyonce-cloud {
    height: 560px;
    width: auto;
    position: absolute;
    bottom: -390px;
}

.tony {
    height: 370px;
    width: auto;
    position: absolute;
    bottom: 0;
}

.tony-cloud {
    height: 450px;
    width: auto;
    position: absolute;
    bottom: -220px;
}

.justin {
    height: 530px;
    width: auto;
    position: absolute;
    bottom: -120px;
}

.justin-cloud {
    height: 530px;
    width: auto;
    position: absolute;
    bottom: -400px;
}

.florida {
    height: 360px;
    width: auto;
    position: absolute;
    bottom: 0px;
}

.florida-cloud {
    height: 360px;
    width: auto;
    position: absolute;
    bottom: -200px;
}

.muppets {
    height: 250px;
    width: auto;
    position: absolute;
    bottom: 0px;
    right: -10px;
}

.muppets-cloud {
    height: 280px;
    width: auto;
    position: absolute;
    bottom: -170px;
}

.muppets-back-cloud {
    height: 280px;
    width: auto;
    position: absolute;
    bottom: -70px;
}

.elton {
    height: 415px;
    width: auto;
    position: absolute;
    bottom: 0px;
}

.elton-cloud {
    height: 330px;
    width: auto;
    position: absolute;
    bottom: -170px;
}
/*---   Alias Card ----*/

.aliases-parent {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 800px;
    display: block;
    margin: 250px auto 650px auto;
    border-bottom: 7px solid black;
}

.aliases-child {
height: 600px;
display: flex;
justify-content: center;
position: relative;
}

.mother-monster{
    height: 400px;
    position: absolute;
    bottom: 0px;

}

.monster-cloud {
    height: 450px;
    position: absolute;
    bottom: -250px;


}

.alias-section {
font-size: 25px;
border: 7px solid black;
background-color: white;
height: 480px;
width: 300px;
display: flex;
justify-content: center;
position: absolute;
text-align: center;
bottom: -500px;
line-height: 32px;
padding-bottom: 15px;
}

.big-header {
font-family: bauer-bodoni;
margin: 30px auto 20px auto;

}

.alias-ul {
list-style-type: none;
display: flex;
flex-direction: column;
justify-content: space-evenly;
font-family: bauer-bodoni;
padding: 0 15px;
}

/*---- Collaborators----*/


.collab-wrap {
    text-align: center;
    font-family: bauer-bodoni;
    font-size: 30px;
    position: relative;
    margin-bottom: 40px;
}

.collab {


}