
*, *:before, *:after {
    box-sizing: inherit;
}

/* The CSS box-sizing property allows us to include the
padding and border in an element's total width and height. */


html {
    box-sizing: border-box;
}

html {
    background-color: grey;
}

.navbar {
    background:white;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 84px;
    border: 7px solid black;
}

.header {
    position: fixed;
    width: 100%;
    display: flex;
    align-content: flex-start;
}

.lady-gaga-logo {
    width: 60px;
    height: auto;
    margin: 5px 30px;
    
}

.main-page {
    display: block;
    margin-top: 100px;
}

.nav-link {
    font-family: 'Yantramanav', sans-serif;
    color: grey;
    font-weight: 700 !important;
}

.navbar-logo {
    display: inline-block;
    width: 10%;
}

.navbar-nav {
    display: inline-block;
    width: 80%;
    margin-right: 10%;
}

.nav-item{
    list-style-type: none;
    float: left;
    text-decoration-line: none;
    font-size: 2.5vw;
}

.navbar-list{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0;
    top: 0;
    height: 70px;

}

a {
    text-decoration-line: none;
    font-weight: 700 !important;
    
 }

a:visited { text-decoration-line: none;}
a:hover { text-decoration-line: none; color: lightgrey; }
a:focus { text-decoration-line: none; color:black; }
a:hover, a:active { text-decoration-line: none; color:black }


/* -- kw-end of navbar- */ 

/*--- career page ---*/
body {
    font-family: 'Yantramanav', sans-serif;
}
.images {
    display:flex;
    justify-content: space-around;
    margin: 15px;
}
.images img {
    /*border: 7px solid #f5b300; */
    border: 7px solid black;
}
.flex-container  {
    display:flex;  
    flex-flow: row;
    align-items:flex-start;
    justify-content: space-around;
}  
.first {
    width: 75%; 
    align-items:center;
    border: 7px solid black; 
    background-color:white;
}
.second  {
    width: 33%;
    vertical-align: top;
    border: 7px solid black;
    background-color:white;
    padding: 10px;
}
#section {
    column-count: 3;  
}
.third {
    border: 7px solid black;
    background-color:white;
    padding: 10px;   
}