
.main-section__personal-data {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;

}

.main-section__div {

    width: 60%;

    font-size: 1.2em;
    font-family: 'Yantramanav', sans-serif;
    
    border: 1px solid black;

    padding: .3em;
    margin: .3em;

    border-top-left-radius: .5em;
    border-top-right-radius: .1em;
    border-bottom-left-radius: .1em;
    border-bottom-right-radius: .5em;

    background-color: white;
}