
.main-personal-data {
    display: flex;
    width: 100%;
    flex-flow: column;
    justify-content: space-around;

     padding: 1.5em;
    /*background-color: white;*/
}

.main__div {
    width: 75%;

    font-size: 1.2em;
    font-family: 'Yantramanav', sans-serif;
    
    border: 6px solid black;

    padding: 1.5em;
    margin: 1.5em;

    background-color: white;*/
}

.main__section {
    width: 75%;
    border: 6px solid black;
    background-color: white;
    margin: 1.5em;
    padding: 1.5em;

}

.main__family {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;

    width: 75%;
    border: 6px solid black;
    background-color: white;

    margin: 1.5em;
    padding: 1.5em;

}

.main__family-div, .main__section-div {

    font-weight: bold;

    padding: .8em;
}