.small-smoke {
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  width: 100%;
  opacity: 1;
  background-size: 1604px;
  filter: contrast(900%);
  background-image: url(images/smoke-animated.png);
  background-repeat: repeat;
  text-align: center;
  animation: small-smoker 250s infinite linear;
  animation-delay: -1s;
  }
  
  @keyframes small-smoker {
  0% {
    background-position: center 0;
    
  }

  100% {
    background-position: center -2534px;
  }
  }

  